{% extends 'project_base.html' %}

{% block link %}
 <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a>  
 {% for i in pipelines %}
   {% if i in routes %}
       <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
   {% else %}
       <a href="#{{i}}">{{i}}</a>
   {% endif %}  
 {% endfor %}  
{% endblock %}


{% block content %}
  <div class="project_title">
    <p>{% block title %}{{ project['name'] }} {% endblock %}</p>
  </div>    
    
  <table class="project_info_table">
  <tr>
    <th>Project name:</th>
    <td>{{ project['project_id'] }}</td>
  </tr>
  <tr>
    <th>Project description:</th>
    {% if project['description'] %}
      <td>{{ project['description'] }}</td>
    {% else %}
      <td>Not provided</>
    {% endif %}
  </tr>
  <tr>
    <th>Pipeline:</th>
    <td>{{ project['pipeline'] }}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{{ project['active'] }}</td>  
  </tr>
  <tr>
    <th>Contact name:</th>
    {% if project['contact_name'] %}
      <td>{{ project['contact_name'] }}</td>
    {% else %}
      <td>Not provided</td>
    {% endif %}     
  <tr>
    <th>Contact email:</th>
    {% if project['contact_email'] %}     
      <td>{{ project['contact_email'] }}</td>
    {% else %}
      <td>Not provided</td>   
    {% endif %}
  </tr>
</table>

{% endblock %}
