{% extends 'project_base.html' %}

{% block link %}
  <a class="selected" href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
  <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a>  
  {% for i in pipelines %}
    {% if i in routes %}
      <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
    {% else %}
      <a href="#{{i}}">{{i}}</a>
    {% endif %}  
  {% endfor %}  
{% endblock %}


{% block content %}
  <div class="project_title">
    <p>{% block title %}{{ project['name'] }} {% endblock %}</p>
  </div>    

  <table class="project_info_table">
  <tr>
    <th>Project name:</th>
    <td>{{ project['project_id'] }}</td>
  </tr>
  <tr>   
    <th>Last sequencing:</th>
    <td>{{ seq_date }}</td>
  </tr>
  <tr>
    <th>MISO:</th>
    <td><button id="miso_button"><a href="https://miso.oicr.on.ca/miso/project/shortname/{{project['project_id']}}" target="_blank">MISO</a></button>
  </tr>
  <tr>
    <th>Project description:</th>
    {% if project['description'] %}
      <td>{{ project['description'] }}</td>
    {% else %}
      <td>Not provided</td>
    {% endif %}
  </tr>
  <tr>
    <th>Pipeline:</th>
    <td>{{ project['pipeline'] }}</td>
  </tr>
  <tr>
    <th>Status:</th>
    <td>{{ project['active'] }}</td>  
  </tr>
  <tr>
    <th>Contact name:</th>
    {% if project['contact_name'] %}
      <td>{{ project['contact_name'] }}</td>
    {% else %}
      <td>Not provided</td>
    {% endif %}     
  <tr>
    <th>Contact email:</th>
    {% if project['contact_email'] %}     
      <td>{{ project['contact_email'] }}</td>
    {% else %}
      <td>Not provided</td>   
    {% endif %}
  </tr>
  <tr>
    <th>Expected Cases:</th>
    <td>{{ project['expected_samples'] }}</td>
  </tr>
  <tr>
    <th>Sequenced Cases:</th>
    <td>{{ project['sequenced_samples'] }}</td>
  </tr>
  <tr>
    <th>Library types:</th>
    <td>{{ project['library_types'] }}</td>
  </tr>
  <tr>
    <th>Species:</th>
    <td>{{ species }}</td>
  </tr>
</table>

<button id="download_button" style="margin-top:20px;margin-left:100px"><a href="{{url_for('download_cases_table', project_name=project['project_id'])}}">Download Case table</a></button>

<table id="project_table" style="margin-top:35px;">
    <tr>
      <th><div class="tooltip">Case Id<span class="tooltiptext">OICR-generated case identifier</span></th>
      <th><div class="tooltip">Donor Id<span class="tooltiptext">User-supplied donor identifier</span></th>
      <th><div class="tooltip">MISO<span class="tooltiptext">Link to the MISO sample page</span></th>
      <th><div class="tooltip">Parent project<span class="tooltiptext">Project to which the samples are assigned</span></>
      <th><div class="tooltip">Created<span class="tooltiptext">Date the sample was registered in MISO</span></th>
      <th><div class="tooltip">Normals<span class="tooltiptext">Count of normal samples</span></th>
      <th><div class="tooltip">Tumours<span class="tooltiptext">Count of tumour samples</span></th>
      {% for library_type in library_types %}
        <th><div class="tooltip">{{library_type}}<span class="tooltiptext">Count of {{library_names[library_type]}} libraries</span></th>
      {% endfor %} 
    </tr>     
    {% for i in cases %}
      <tr>
        <td>{{ i['case_id'] }}</td>
        <td>{{ i['donor_id'] }}</td>        
        <td><button id="miso_button"><a href="{{ i['miso'] }}" target="_blank">MISO</a></button>
        <td>{{ i['parent_project'] }}</td>        
        <td>{{ i['created_date'] | format_created_time}}</td>
        <td>{{ counts[i['case_id']]['normal'] }}</td>
        <td>{{ counts[i['case_id']]['tumor'] }}</td>
        {% for library_type in library_types %}
          <td>{{libraries[i['case_id']][library_type] | length}}</td>
        {% endfor %} 
      </tr>
    {% endfor %}
</table>

<footer>
  <p class="data_update"> Data last updated: {{project['last_updated'].split('_')[0]}} </p>
</footer>

{% endblock %}



