{% extends 'project_base.html' %}


{% block link %} <a href="{{ url_for('project', project_name=project['name']) }}">{{ project['name'] }}</a> {% endblock %}


{% block content %}
   <div class="project_title">
     <p>{% block title %}{{ project['name'] }} {% endblock %}</p>
   </div>    

   
<table id="project_table">
   <tr>
     <th>Cases</th>
     <th>Samples</th>
     <th>Libraries</th>     
     <th>Runs</th>
     <th>Files</th>
     <th>Read Counts</th>
     <th>Workflow</th> 
     <th>Release status</th>
   </tr>     
   

   {% for case in sequences %}
     <tr>
       {% for sample in sequences[case] %}
         <tr>  
           {% for library in sequences[case][sample] %}
             <tr>          
               {% for run in sequences[case][sample][library] %}
                 <tr>
                   <td> {{case}} </td>
                   <td> {{sample}} </td>
                   <td> {{library}} </td> 
                   <td> {{run}} </td>
                   <td> {% for item in sequences[case][sample][library][run]['files'] %}
                          {{item}}
                          <br>
                        {% endfor %}                    
                   </td>        
                   <td> {{sequences[case][sample][library][run]['read_count']}} </td>
                   <td> {{sequences[case][sample][library][run]['workflow']}} </td>
                   <td> {{sequences[case][sample][library][run]['release']}} </td>
               {% endfor %}               
               </tr>               
           {% endfor %}
           </tr> 
       {% endfor %}
       </tr>       
      </tr>
      {% endfor %}
   </table>

{% endblock %}
