{% extends 'project_base.html' %}


{% block link %}
  <a href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
  <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a>
  {% for i in pipelines %}
    {% if i in routes %}
      {% if i == 'Shallow Whole Genome' %}
        <a class="selected" href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
      {% else %}
        <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>   
      {% endif %}  
    {% else %}
        <a href="#{{i}}">{{i}}</a>
    {% endif %}  
  {% endfor %}   
{% endblock %}


{% block content %}
  <div class="project_title">
    {% if swg %}
      <span style="font-size:22px; font-style:normal;"> Shallow Whole Genome analysis data for <span id ="count"> {{ swg|length }} </span> cases</span>
    {% else %}
      <span style="font-size:22px; font-style:normal;"> No cases to display</span>
    {% endif %}  
  </div> 

  {% if swg %}
    <div class="download-dropdown">
      <button class="download-dropbtn">Download json</button>
        <div class="download-dropdown-content">
          <form method="POST" action ="">
            {% if deliverable == 'selected' %}
              <input class="checkbox_small" type="checkbox" name="deliverable" value="selected" id="deliverable" checked/><label>selected</label><br>      
            {% else %}
              <input class="checkbox_small" type="checkbox" name="deliverable" value="selected" id="deliverable"/><label>selected</label><br>      
            {% endif %}
            {% if deliverable == 'standard' %}
              <input class="checkbox_small" type="checkbox" name="deliverable" value="standard" id="deliverable" checked/><label>standard</label><br>      
            {% else %}
              <input class="checkbox_small" type="checkbox" name="deliverable" value="standard" id="deliverable"/><label>standard</label><br>      
            {% endif %}
            <button class="select_button_small" type = "submit" value="submit">Download</button>
          </form>          
        </div>
    </div>  

    <div class="search_container">
      <input type="text" id="search_table"  onkeyup="searchFunction()" placeholder="Search.." title="Type in a keyword">
    </div>

  
    <table id="wgs_table">
      <thead>
        <th>Case</th>
        <th>Sample</th>
        <th>Status</th>
      </thead>     

      {% set donors = swg.keys() | list | sort %}
      {% for i in donors %}
        {% set samples = swg[i].keys() | list | sort %}
        {% set rowNum = samples | length %}
        <tbody>  
          <td rowspan="{{rowNum}}">
            {{i}}
          </td>
          <td>
            {{samples[0]}}
          </td>  
          <td>
            <a class="project_links" href="{{ url_for('swg_sample', project_name=project['project_id'], case=i, sample=samples[0])}}">
              {% if i in status %}
                {% if samples[0] in status[i] %}
                  {% if status[i][samples[0]] != 'review' and status[i][samples[0]] != 'ready' %}
                    {{status[i][samples[0]] | shorten_workflow_id}}
                  {% else %}
                    <button class="review_button">{{status[i][samples[0]]}}</button>
                  {% endif %}
                {% endif %}
              {% else %}
                NA
              {% endif %}               
            </a>
          </td> 
        
          {% for j in samples[1:] %}
            <tr>
              <td>
                {{j}}
              </td>  
              <td>
                <a class="project_links" href="{{ url_for('swg_sample', project_name=project['project_id'], case=i, sample=j)}}">
                  {% if i in status %}
                    {% if j in status[i] %}
                      {% if status[i][j] != 'review' and status[i][j] != 'ready' %}
                        {{status[i][j] | shorten_workflow_id}}
                      {% else %}
                        <button class="review_button">{{status[i][j]}}</button>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    NA
                  {% endif %}               
                </a>
              </td>
            </tr>
         {% endfor %}
        </tbody>  
      {% endfor %}
    </table>

  <footer>
    <p class="data_update"> Data last updated: {{project['last_updated'].split('_')[0]}} </p>
  </footer>
  
  <script>
    function searchFunction() {
      var input, filter, table, tr, td, i, txtValue;
      var rowCount = 0    
      input = document.getElementById("search_table");
      filter = input.value.toUpperCase();
      table = document.getElementById("project_table");
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) {
        td= tr[i];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            rowCount++;
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
      document.getElementById("count").innerHTML = rowCount
    }
  </script>

  {% endif %}
  
{% endblock %}
