{% extends 'project_base.html' %}


{% block link %}
 <a href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
 <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a> 
 {% for i in pipelines %}
   {% if i in routes %}
     <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
   {% else %}
     <a href="#{{i}}">{{i}}</a>
   {% endif %}  
 {% endfor %}   
 <a class="split" href="{{ miso_link }}" target="_blank">{{ case }}</a> 

{% endblock %}






{% block content %}
  <div class="project_title">
    <p><span style="font-size:30px; font-style:normal;"> Somatic callers analysis blocks </span></p>  
    <p><span style="font-size:16px; font-style:normal;"> Select analysis blocks for each sample pair. An analysis block includes parent call-ready workflows and all downstream caller-workflows.</span></p>  
  </div> 

  {% for pair in sample_pairs_names %}
     <div class="somatic_block">

       <p style="font-size:22px; font-style:bold;"> Samples: {{pair}} </p>
       
       {% for block in blocks[pair] %}
         
         <form method="POST" action = "">
         <div class="somatic_block">
           <table id="block_header_table">
             <tr>
               <td><span style="font-size:16px; font-style:normal;">{{ block['name'] }}</span></td>
               <td>Date: {{block['date'].split().0}} </td>
               {% if block['complete'] %}
                 <td><div class="tooltip">Complete:<span class="tooltiptext">All expected workflows?</span></div> <span style="font-size:32px;color:#70db70">&#10004;</span></td>
               {% else %}
                 <td><div class="tooltip">Complete:<span class="tooltiptext">All expected workflows?</span></div> <span style="font-size:32px;color:#ff3300;">&#10006;</span></td>
               {% endif %}
               {% if block['extra'] %}
                 <td><div class="tooltip">Clean:<span class="tooltiptext">Only expected workflows?</span></div> <span style="font-size:32px;color:#70db70">&#10004;</span></td>
               {% else %}
                 <td><div class="tooltip">Clean:<span class="tooltiptext">Only expected workflows?</span></div> <span style="font-size:32px;color:#ff3300;">&#10006;</span></td>
               {% endif %}               
               {% if block['release_status'] %}
                 <td><div class="tooltip">Release Status:<span class="tooltiptext">Input raw sequences released?</span></div> <span style="font-size:32px;color:#70db70">&#10004;</span></td>
               {% else %}
                 <td><div class="tooltip">Release Status:<span class="tooltiptext">Input raw sequences released?</span></div> <span style="font-size:32px;color:#ff3300;">&#10006;</span></td>
               {% endif %}
                 <td>
                   <button class="select_button" type = "submit" value="submit">Select workflows</button>
                 </td>
                 <td>
                   <button id="download_button"><a href="{{url_for('download_block_data', project_name=project['project_id'], case=case, pair=pair, anchor_wf=block['anchor_wf'], table='WGS_blocks')}}">Download json</a></button>
                 </td>
             </tr>
           </table>


   
           <p style="font-size:22px; font-style:bold;"> Call-ready workflows </p>     

           <table id="block_table">
            <thead>
              <th>workflow_run_id</th>
              <th>workflow</th>
              <th>file count</th>
              <th>lane count</th>
              <th>date</th>      
              <th>Normal</th>
              <th>Tumour</th>
              <th>select</th> 

            </thead>     
        
           {% for bmpp_run in block['call_ready'] %}
            <tr>
              <td>
                <a class="workflow" href="{{ url_for('workflow', project_name=project['project_id'], case=case, workflow_id=bmpp_run) }}">
                  {{bmpp_run | shorten_workflow_id}}
                </a>
              </td>
              <td>{{workflow_names[bmpp_run].0}}</td>
              <td>{{file_counts[bmpp_run]}}</td>
              <td>{{amount_data[bmpp_run]}}</td>
              <td>{{creation_dates[bmpp_run] | readable_time}}</td>
              <td>
                <dl>
                  {% for i in block['pairs'][bmpp_run]['normal'] %}
                    <dt>{{i}}</dt>
                  {% endfor %}
                </dl>
              </td>
              <td>
                <dl>
                  {% for i in block['pairs'][bmpp_run]['tumour'] %}
                    <dt>{{i}}</dt> 
                  {% endfor %}
                </dl>
              </td>
              <td>
                {% if selected[bmpp_run] %}
                    <input class="checkbox" type="checkbox" name="workflow" value="{{bmpp_run}}" id="workflow" checked/>
                  {% else %}
                    <input class="checkbox" type="checkbox" name="workflow" value="{{bmpp_run}}" id="workflow"/>  
                  {% endif %}    
              </td>     
            </tr>
           {% endfor %}
           </table>
     
           <p style="font-size:22px; font-style:bold;"> Caller workflows </p>
           



           <table id="block_table">
            <thead>
             <th>workflow_run_id</th>
             <th>workflow</th>
             <th>parent</th>
             <th>file count</th>
             <th>lane count</th>
             <th>date</th>     
             <th>select</th>
            </thead>     
       
           {% for workflow_id in block['callers'] %}
           <tr>
             <td>
              <a class="workflow" href="{{ url_for('workflow', project_name=project['project_id'], case=case, workflow_id=workflow_id) }}">
                {{workflow_id | shorten_workflow_id}}
              </a>
             </td>
             <td>{{workflow_names[workflow_id].0}}</td>
             <td>
               <dl>
                 {% for i in parents[workflow_id] %}
                   <dt>
                     {% for k in parents[workflow_id][i] %}
                       <div class="tooltip">
                         <a class="workflow" href="{{ url_for('workflow', project_name=project['project_id'], case=case, workflow_id=k) }}">
                           {{k | shorten_workflow_id}}
                             <span class="tooltiptext">{{i}}</span>
                         </a>   
                       </div>
                     {% endfor %}
                   </dt>
                 {% endfor %}
               </dl>
             </td>
             <td>{{file_counts[workflow_id]}}</td>              
             <td>{{amount_data[workflow_id]}}</td>             
             <td>{{creation_dates[workflow_id] | readable_time}}</td>
             <td>
               {% if selected[workflow_id] %}
                 <input class="checkbox" type="checkbox" name="workflow" value="{{workflow_id}}" id="workflow" checked/>
               {% else %}
                 <input class="checkbox" type="checkbox" name="workflow" value="{{workflow_id}}" id="workflow"/>  
               {% endif %}    
             </td>     
           </tr>
           {% endfor %}         
           </table>
       

        <p style="font-size:22px; font-style:bold;"> Workflow relationships: </p>
        <img src="data:image/png;base64,{{block['network']}}" alt="workflow_network" title="workflows" style="padding-right: 8px; padding-left:8px; width:25%; height:25%"/>
     
     </div>   
     </form>     

     {% endfor %}


  </div> 
  <br>
  <br>

  {% endfor %}
{% endblock %}

