{% extends 'project_base.html' %}


{% block link %}
 <a href="{{ url_for('project', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
 <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a> 
 {% for i in pipelines %}
   {% if i in routes %}
       <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
   {% else %}
       <a href="#{{i}}">{{i}}</a>
   {% endif %}  
 {% endfor %}   
{% endblock %}


{% block content %}
  <div class="project_title">
    <p>
      {% block title %} {{ sample_case }} {% endblock %}
      <span style="font-size:30px; font-style:normal;"> Whole Genome Sequencing pipeline </span>
    </p>  
  </div> 

  <table id="simple_table">
   <thead>
     <th>BMPP workflow</th>
     <th>Files</th>     
     <th>Fastq release status</th>
     <th>Samples</th>
     <th>Tissue type</th>     
     <th>Tissue Origin</th>
     <th>Libraries</th>
   </thead>     

   <tr>
     <td rowspan="{{bmpp_info|length}}">{{bmpp_id}}</td>
     <td rowspan="{{bmpp_info|length}}"> {{bmpp_files}} </td>     
     {% if fastq_release_status %}
       <td rowspan="{{bmpp_info|length}}", style="width: 40%; padding: 3px; text-align: left"><img src="{{ url_for('static', filename='images/yes.png') }}" alt="released" title="release_status" style="padding-right: 8px; padding-left:0px; width:10; height:10"></td>     
     {% else %}
       <td rowspan="{{bmpp_info|length}}", style="width: 40%; padding: 3px; text-align: left"><img src="{{ url_for('static', filename='images/no.png') }}" alt="not_released" title="release_status" style="padding-right: 8px; padding-left:0px; width:10; height:10"></td>     
     {% endif %}
     {% for i in bmpp_info %}
       <td>{{i.0}}</td>
       <td>{{i.1}}</td>
       <td>{{i.2}}</td>
       <td>{{i.3}}</td>
      </tr> 
      {% endfor %}
  </table>


  {% if downstream_workflows %}
 

   <table id="simple_table">
     <thead>
       <th>Normal sample</th>
       <th>Tmour sample</th>     
       <th>mutect2</th>
       <th>variantEffectPredictor</th>
       <th>varscan</th>     
       <th>sequenza</th>
       <th>delly</th>
       <th>mavis</th>
     </thead>     

     {% for i in downstream_workflows %}
     <tr>
       <td>{{i.0}}</td>
       <td>{{i.1}}</td>
       <td>{{i.2}}</td>     
       <td>{{i.3}}</td>
       <td>{{i.4}}</td>
       <td>{{i.5}}</td>
       <td>{{i.6}}</td>
       <td>{{i.7}}</td>
     </tr>
     {% endfor %}  
   </table>
  {% endif %}

{% endblock %}
