{% extends 'project_base.html' %}


{% block link %}
 <a href="{{ url_for('project', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
 {% for i in pipelines %}
   {% if i in routes %}
       <a href="{{ url_for(routes[i], project_name=project['project_id']) }}">{{i}}</a>
   {% else %}
       <a href="#{{i}}">{{i}}</a>
   {% endif %}  
 {% endfor %}   
{% endblock %}


{% block content %}
  <div class="project_title">
    <p>{% block title %}{{ project['project_id'] }} {% endblock %}
      {% if cases %}
        <span style="font-size:30px; font-style:normal;"> Details of the most recent call ready workflow for <span id ="count"> {{ cases|length }} </span> cases</span>
      {% else %}
        <span style="font-size:30px; font-style:normal;"> No cases to display</span>
      {% endif %}  
    </p>   
    
</div> 

  {% if cases %}
  
   <div style="margin-left:auto;margin-right:auto;margin-top:80px;padding-bottom:7px;max-width:300px;position:relative">
     <input type="text" id="search_table"  onkeyup="searchFunction()" placeholder="Search.." title="Type in a keyword">
   </div>

  <table id="project_table">
   <thead>
     <th>Cases</th>
     <th>Samples</th>
     <th>Libraries</th>     
     <th>Worfklow id</th>
   </thead>     

   {% for i in samples %}
     <tr>
       <td>
         <a class="project_links" href="{{ url_for('wgs_case', project_name=project['project_id'], case=i)}}">{{i}}</a>
       </td>
       <td>
         {% for item in cases[i]['samples'] %}
           <a class="project_links" href="{{ url_for('wgs_case', project_name=project['project_id'], case=i)}}">{{item}}</a>
           <br>
         {% endfor %}       
       </td>
       <td>
         {% for item in cases[i]['libraries'] %}
           <a class="project_links" href="{{ url_for('wgs_case', project_name=project['project_id'], case=i)}}">{{item}}</a>
           <br>
         {% endfor %}
       </td>
       <td>
         <a class="project_links" href="{{ url_for('wgs_case', project_name=project['project_id'], case=i)}}">{{cases[i]['wfrun_id']}}</a>
       </td>
     </tr>
   {% endfor %}               
   </table>

  
   <script>
   function searchFunction() {
   var input, filter, table, tr, td, i, txtValue;
   var rowCount = 0    
   input = document.getElementById("search_table");
   filter = input.value.toUpperCase();
   table = document.getElementById("project_table");
   tr = table.getElementsByTagName("tr");
   for (i = 1; i < tr.length; i++) {
   td= tr[i];
     if (td) {
       txtValue = td.textContent || td.innerText;
       if (txtValue.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
         rowCount++;
       } else {
         tr[i].style.display = "none";
         }
     }       
    }
   document.getElementById("count").innerHTML = rowCount
   }
  </script>

  {% endif %}


   
{% endblock %}
